/* Main container styling */
.container {
    display: grid;
    grid-template-columns: 1.7fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'header header'
        'menu pic';
    height: 100vh;
    margin: 0 auto;
    background-color: #ffffff;
    overflow: hidden;
}

.menu, .junction-visual {
    height: 100%;
    overflow: hidden;
    display: grid;
    border-style: solid;
    border-color: rgb(2, 2, 2);
}

.menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Input form styling */
.main-form {
    grid-column: 2;
    grid-row: 1;
    background-color: #ffffff;
    color: rgb(15, 15, 15);
    border-radius: 10px;
    margin: 10px;
    height: calc(100% - 20px);
    overflow-y: auto;
    overflow-x: hidden;
   
}

/* Update junction visual to maintain fixed size */
.junction-visual {
    grid-area: pic;
    background-color: #f0f0f0;
    border-radius: 10px;
    /* Get rid of grid layout for junction for now */
    /* display: grid; */
    /* grid-template-rows: 4fr 1fr; */
    /* justify-content: center; */
    /* align-items: center; */
}

/* Adjust header to prevent it from affecting layout */
.main-title {
    grid-area: header;
    margin: 0;
    padding: 20px;
    justify-self: center;
}