.laneCustomisation {
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.lanesSection,
.leftTurnSection,
.specialLanesSection {
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.label {
  font-weight: bold;
  color: #333;
}

.staticData {
  font-size: 16px;
  color: #444;
  font-weight: 500;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: white;
  border-radius: 6px;
}

.specialLanesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 10px;
}

.specialLanesColumn {
  padding-left: 15px;
  background: white;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.specialLanesColumn h4 {
  margin-bottom: 10px;
  color: #333;
}

.laneCustTitle {
  text-align: center;
}

.noSpecial {
  font-size: 16px;
  color: #666;
  text-align: center;
}

.specialDurations h3 {
  margin-top: 10px;
}