.formsGrid {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.formCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 2px solid rgb(2, 2, 2);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    flex: 1;
}

.formCell h1 {
    font-size: 1rem;
    border-bottom: 2px solid #333;
    text-align: center;
    width: 80%;
    margin-top: 0;
    margin-bottom: 10px;
    color: black;
}

h2 {
    padding-bottom: 10px;
    margin: 10px;
}