.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: white;
}
  
.projectName{
    color: white;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #333;
}

.pageTitle {
  margin: 0;
  text-align: center;
  color: black;
  flex-grow: 1;
  font-size: 28px;
}

.backButton {
  background-color: #DC3545;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #c82333;
}

.container {
  display: flex;
  flex: 1;
  min-height: 0;
}

.leftPanel {
  width: 300px;
  padding: 20px;
  color: black;
  border: 2px solid rgb(2, 2, 2);
  margin: 10px;
  overflow-y: auto; /* Allow scrolling if content is too long */
  max-height: 100%;
}

.rightPanel {
  flex: 1;
  color: black;
  border: 2px solid rgb(2, 2, 2);
  margin: 10px;
  overflow-y: scroll;
}

.title {
  font-size: 24px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

.junctionList {
  margin-bottom: 20px;
}

.junctionRow {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 2px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

.junctionRow:hover {
  background-color: #e0f6ff;
}

.highlighted:hover {
  background-color: #00a6fb;
}

.highlighted {
  background-color: #00a6fb;
  color: black;
}

.noSelection {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.vphDataGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-top: 5px;
}

.directionSection {
  background-color: #f9f9f9;
  padding: 15px;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.directionSection h3 {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: black;
}

.dataField {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.dataValue {
  background-color: #e6e6e6;
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  min-width: 60px;
  text-align: center;
}

.configuredNote {
  /* TODO: Change colour of this, represents RESET button but should be different */
  background-color: #DC3545;
  width: 50%;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
  display: flex;
  border: none;
}

.projectName {
  color: black;
}

.configuredBtn {
  color: white;
}